.App {
    height: 100%;
} 

@media screen and (max-width: 190px){
    .App {
        overflow-x: auto;
    }
} 

/* @media screen and (max-width: 1000px){
    .App {
        height: 170vh;
    }
} 

@media screen and (max-width: 900px){
    .App {
        height: 180vh;
    }
} 

@media screen and (max-width: 800px){
    .App {
        height: 190vh;
    }
}

@media screen and (max-width: 700px){
    .App {
        height: 200vh;
    }
}

@media screen and (max-width: 600px){
    .App {
        height: 210vh;
    }
}

@media screen and (max-width: 500px){
    .App {
        height: 220vh;
    }
}

@media screen and (max-width: 400px){
    .App {
        height: 230vh;
    }
} */